body {
    font-family: Arial, sans-serif;
    background-color: #2E4A2F; /* Forest green */
    color: #EFEFEF; /* Light text color */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1C2D21; /* Darker forest green for header */
}

.nav-link {
    cursor: pointer;
    margin-left: 1rem;
    color: #EFEFEF; /* Light text color for nav links */
}

.nav-link:hover {
    color: #B3C2BF; /* Lighter forest green for nav link hover */
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

.project1 {
    float: left;
    width: 100%
}

.project2 {
    float: left;
    width: 100%
}

.work img {
    width: 100%;
    margin: 1rem 0;
    border: 5px solid #1C2D21; /* Darker forest green for image border */
}

.work .col-md-6:first-child img {
    width: 100%;
}

.work a {
    text-decoration: none;
}

  /* Add styles for boxed sections */
#about, #work, #contact {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #B3C2BF; /* Lighter forest green for boxed sections */
    border-radius: 10px; /* Rounded corners for boxed sections */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow to boxed sections */
}

h1 {
    color: #EFEFEF;
}

h2 {
    color: #1C2D21; /* Darker forest green for headings */
}

h2 {
    margin-bottom: 1rem;
}
